<!--En las plantillas o HTML de Django es importante cargar los archivos staticos es decir los JS, CSS e imagenes-->
{% extends "base.html" %}

{% block title %}
Proyecto de Grado
{% endblock title %}
{% load staticfiles %}

{% block header_extra %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/stilos.css">

	<script src="{{ STATIC_URL }}lib/angular.js"></script>|
	<script src="{{ STATIC_URL }}js/app.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}lib/underscore.js"></script>
	<script src="{{ STATIC_URL }}lib/restangular.js"></script>

    <!--LIBRERIAS PARA EL EFECTO LIBRO-->
     <script src="{{ STATIC_URL }}booklet/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}booklet/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>  
    <script src="{{ STATIC_URL }}booklet/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}booklet/jquery.booklet.latest.js" type="text/javascript"></script>
    <link href="{{ STATIC_URL }}booklet/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />

{% endblock header_extra %}
{% block content %}
<!--<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
            </a>
            <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a class="menuitem" href="#">Inicio</a></li>
                <li><a class="menuitem" href="#/perfil/">Ingresa/Modifica tu hoja de vida</a></li>
                                <li><a class="menuitem" href="#">Salir</a></li>
            </ul>
            </div>      
        </div>
    </div>
</div>-->
    <section id="contenido">
    <img src="{{ STATIC_URL }}img/fondo.jpg" alt="Este">
		<!--<nav>
           <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="acerca.html">Acerca</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="trabajos.html">Trabajos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
           </ul>
		</nav>-->
<h1>SISTEMA EDUCATIVO CLASS DOJO</h1>   

    <div class="container">
    <ng-view viewstate></ng-view><br><br>
    <div class="content">
        <form class="form-inline" method="POST">
    {% csrf_token %}
    <h4>IDENTIFICACION DE USUARIO</h4><br>
  <div class="control-group" class="success">
    <label class="control-label" for="inputEmail"><h5>Nombre de Usuario:</h5></label>
    <div class="controls">
      <input name="username"type="text" class="input-block-level input-xlarge" id="inputEmail" placeholder="Usuario">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword"><h5>Contraseña:</h5></label>
    <div class="controls">
      <input name="password" type="password" class="input-block-level input-xlarge" id="inputPassword" placeholder="Contraseña">
    </div>
  </div>
  <br>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-block btn-large  btn-primary">I N G R E S A R</button>
    </div>
  </div>
</form>
    </div>
       
</div>
<br>
<br><br>

{% endblock content %}

{% block footer %}
<script src="{{ STATIC_URL }}lib/angular/angular.min.js"></script>
<script src="{{ STATIC_URL }}lib/angular/angular-resource.min.js"></script>
<script src="{{ STATIC_URL }}lib/angular-strap/angular-strap.min.js"></script>
<script src="{{ STATIC_URL }}lib/underscore/underscore-min.js"></script>
<script src="{{ STATIC_URL }}lib/angular/angular-cookies.min.js"></script>
<script src="{{ STATIC_URL }}lib/restangular/restangular.min.js"></script>
<script src="{{ STATIC_URL }}lib/momentjs/moment.min.js"></script>
<script src="{{ STATIC_URL }}lib/ng-upload/ng-upload.min.js"></script>
<script src="{{ STATIC_URL }}lib/jquery-upload/angular-file-upload.min.js"></script>
<script src="{{ STATIC_URL }}lib/ng-infinite-scroll.min.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/routes.js"></script> 
<script src="{{ STATIC_URL }}js/controllers/app-controller.js"></script>
<script src="{{ STATIC_URL }}js/services/user.js"></script>     
{% if user.is_authenticated %}
    <!--script type="text/javascript">
  app.run(function($rootScope, User) {
    User.isAuthenticated = true;
    User.id = {{ user.id }}
    User.username = '{{ user }}';
    User.complete = '{{ complete }}'
    //$rootScope.user = {{user_json|safe}};
  });
  </script-->
{% endif %}
{% endblock footer %}