<section id="contenido">
    <img src="{{ STATIC_URL }}img/fondo.jpg" alt="Este">	
		<nav>
           <ul>
                <li><a href="index.html">Inicioooooooooooooooooooo</a></li>
                <li><a href="acerca.html">Acerca</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="trabajos.html">Trabajos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
           </ul>
		</nav>


    <div class="container">
    <ng-view viewstate></ng-view>
    <h1>SISTEMA EDUCATIVO CLASS DOJO</h1>
       <form class="form-inline">
    <h3>IDENTIFICACION DE USUARIO</h3>
  <div class="control-group" class="success">
    <label class="control-label" for="inputEmail"><h4>Nombre de Usuario:</h4></label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="inputEmail" placeholder="Usuario">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword"><h4>Contraseña:</h4></label>
    <div class="controls">
      <input type="password" class="input-xlarge" id="inputPassword" placeholder="Contraseña">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">I N G R E S A R</button>
    </div>
  </div>
</form>
</div>
<br>
<br><br>