body{
	background-color: #87CEEB;
}
#contenido{
	background-color: #FFF;
	border-radius: 0.5em;
	margin: 0;
	padding: 0;
	width: 90%;
	margin-left: 5%;
}
#contenido img{
	padding: 2.5%;
	width: 30%;
}
nav ul{
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 0.5em;
	vertical-align: top;

}

nav a {
	background: #FFF;
	border: 0.1em solid #57ABB8;
	border-radius: 0.25em;
	color: #F60;
	display: block;
	font-family: "armalite_rifleregular", Helvetica, Verdana;
	font-size: 1.4em;
	padding: 0.2em;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	text-decoration: none;
}
nav a:hover{
	background: #212121;
	border: 0.1em dashed #F60;
	border-radius: 0 0.5em 0 0.5em;
	color: #FFF;
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;

}
#contenido img, nav{
	display: inline-block;
	max-width: 100%;
	vertical-align: bottom;
}
#contenido h1{
	text-align: center;
	
}